ERPNEXT_VERSION=v16.5.0
DB_PASSWORD=123

# Configuración de Red para Docker (IMPORTANTE)
# Estos nombres deben coincidir con los servicios en tu docker-compose.yml
DB_HOST=db
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379
REDIS_SOCKETIO=redis-socketio:6379

# Puertos
HTTP_PUBLISH_PORT=8081

# Nombre del sitio (Si tu sitio se llama 'frontend' o 'localhost')
FRAPPE_SITE_NAME_HEADER=localhost
UPSTREAM_REAL_IP_ADDRESS=127.0.0.1